@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #252b42;
  width: 100%;
  color: #fff;
}

#header-11 {
  width: 100%;
  height: auto;
}

.navbar {
  width: 90vw;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.navbar h3 {
  width: fit-content;
  padding: 15px 100px 15px 0;
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
}

.collaps-navbar {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  padding: 18px 0;
}

.navbar-nav li {
  list-style: none;
  padding: 17px 0;
}

.navbar-nav li a {
  padding: 0 5px;
  color: #fff;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
}

.navbar-nav li a:hover {
  text-decoration: underline;
}

.navbar-login span {
  cursor: pointer;
}

.navbar-login span:hover {
  color: #b8dbe9;
}

.become-a-member {
  border-radius: 5px;
  padding: 15px;
  font-weight: 700;
  border: none;
  background: #23a6f0;
  color: #fff;
  cursor: pointer;
}

.become-a-member:hover {
  transform: translateY(3px);
  opacity: 0.9;
}

.navbar-login i {
  padding-left: 10px;
}

.container-fluid {
  width: 95%;
  height: fit-content;
  display: flex;
  margin: 0 auto;
}

.row {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.row h1 {
  max-width: 80%;
  font-size: 58px;
  font-weight: 700;
  padding-bottom: 40px;
}

.row h4 {
  max-width: 60%;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 20px;
}

.double-btn {
  gap: 10px;
}

.blue {
  background: #23a6f0;
  color: #fff;
  border-radius: 37px;
  padding: 15px 36px;
  border: none;
}

.blue:hover {
  color: #252b42;
  opacity: 0.7;
  cursor: pointer;
}

.learn-more {
  background: #252b42;
  border-radius: 37px;
  padding: 15px 36px;
  color: #fff;
  border: 2px solid #fff;
}

.learn-more:hover {
  opacity: 0.6;
}

.woman {
  width: 50%;
}

#feature1 {
  width: 80%;
  height: fit-content;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.text h2 {
  font-weight: 700;
  font-size: 40px;
  padding: 10px 0;
}

.text p {
  font-size: 15px;
  font-weight: 500;
  max-width: 470px;
  padding: 10px 0;
}

.boxes-elt {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 10px 0 30px;
}

.box {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  background: #e1e1e1;
  padding-left: 10px;
}

.box:hover {
  transform: translateY(3px);
}

.box h6 {
  max-width: 150px;
  font-weight: 600;
  font-size: 14px;
  color: #737373;
  padding-left: 15px;
}

.section3 {
  width: 80%;
  height: fit-content;
  margin: 0 auto;
  padding-bottom: 100px;
}

.text-section3 {
  width: 80%;
  margin: 0 auto;
}

.text-section3 h2 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 20px;
}

.text-section3 p {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  max-width: 470px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.testimonial {
  width: 75%;
  background: #fff;
  margin: 0 auto;
  border-radius: 5px;
}

.picture {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.stars {
  width: 70%;
  height: fit-content;
  margin: 0 auto;
  padding: 20px 0;
}

.stars p {
  text-align: center;
  color: #737373;
}

.gold-stars {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

.stars i {
  color: #f2ce03;
  padding: 30px 0;
}

.stars h6 {
  padding: 12px 0;
  text-align: center;
  color: #737373;
  font-size: 14px;
  font-weight: 600;
}

.stars h3 {
  color: #252b42;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}

.section4 {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0 60px;
}

.faq {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}

.faq h2 {
  font-size: 40px;
  font-weight: 700;
}

.faq p {
  font-size: 14px;
  font-weight: 500;
  max-width: 470px;
  text-align: center;
  margin: 0 auto;
  padding: 15px 0;
}

.card-box {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  gap: 1.5rem;
  margin: 0 auto;
}

.flex-row {
  width: 30%;
  padding: 15px;
  border-radius: 5px;
  background: #fff;
  display: flex;
}

.flex-row:hover {
  transform: translateY(3px);
}

.flex-row i {
  position: relative;
  top: 0;
  left: 0;
  color: #23a6f0;
  margin: 0 1rem 0 0;
}

.card-items {
  width: 100%;
  border-radius: 5px;
  align-items: center;
  margin: 0 auto;
}

.card-items h5 {
  padding: 5px 0;
  font-weight: 700;
  font-size: 16px;
  color: #252b42;
}

.card-items h6 {
  font-weight: 700;
  font-size: 14px;
  color: #737373;
}

.section5 {
  width: 80%;
  height: fit-content;
  margin: 0 auto;
  padding: 50px 0;
}

.price {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

.price h2 {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  padding-top: 15px;
}

.price h5 {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 0;
}

.long-boxes {
  width: 95%;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  padding: 30px 0 10px;
  align-items: flex-end;
}

.box1 {
  width: 33%;
  height: fit-content;
  margin: 0 auto;
  background: #fff;
  color: #000;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.box2 {
  width: 33%;
  height: fit-content;
  margin: 0 auto;
  background: #23a6f0 !important;
  color: #fff;
  padding: 65px 0 50px !important;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.box1 h3 {
  color: #252b42;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  padding: 10px 0;
}

.box2 h3 {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  padding: 10px 0;
}

.box1 h5 {
  max-width: 150px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin: 0 auto;
  color: #737373;
  padding-bottom: 40px;
}

.box2 h5 {
  max-width: 150px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin: 0 auto;
  color: #fff;
  padding-bottom: 40px;
}

.index-notation {
  text-align: center;
  font-weight: 700;
  color: #23a6f0;
  padding: 10px 0;
  display: flex;
  justify-content: center;

}

.index-notation1 {
  text-align: center;
  font-weight: 700;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  color: #fff !important;
}

.index-notation h2,
.index-notation1 h2 {
  font-size: 40px;
}

.indice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.indice p,
.index-notation1 p {
  font-size: 16px;
}

.indice h6 {
  font-size: 14px;
  font-weight: 600;
  color: #23a6f0;
}

.index-notation1 h6 {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.green-circles {
  line-height: 2.5;
}

.green-circles p {
  font-weight: 600;
  font-size: 14px;
}

.gray-circles p {
  font-weight: 600;
  font-size: 14px;
}

.gray-circles {
  line-height: 2.5;
}

.green-circles i {
  color: #2dc071;
  font-weight: 30px;
  padding: 15px;
}

.gray-circles i {
  color: #bdbdbd;
  padding: 15px;
}

.try-for-free {
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  align-self: center;
  background: #23a6f0;
}

.try-for-free1 {
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  align-self: center;
  background: #fff;
  color: #23a6f0;
}

.try-for-free1:hover {
  transform: translateY(3px);
}

.try-for-free:hover {
  transform: translateY(3px);
}

.section6 {
  width: 80%;
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.get-in {
  width: 47%;
}

.get-in h2 {
  font-size: 40px;
  font-weight: 700;
}

.get-in p {
  font-size: 14px;
  font-weight: 500;
}

.btn {
  width: 45%;
  display: flex;
  justify-content: end;
}

.email {
  padding: 15px 110px 15px 15px;
  color: #000;
  background: #fff;
  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.suscribe {
  padding: 15px 30px;
  color: #fff;
  background: #23a6f0;
  border: none;
  border-end-end-radius: 5px;
}

.suscribe:hover {
  opacity: 0.8;
}

.email:hover {
  opacity: 0.8;
}

.section7 {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.col1 {
  width: 30%;
}

.col1 h2 {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 15px;
}

.col1 p {
  line-height: 35px;
  padding-bottom: 15px;
}

.col1 i {
  color: #23a6f0;
  padding: 0 5px;
  font-size: 25px;
}

.tags {
  display: flex;
  flex-direction: column;
  line-height: 35px;
  justify-content: space-between;
}

.tags a {
  color: #fff;
  text-decoration: none;
}

.tags a:hover {
  text-decoration: underline;
}
